.num1{
  font-family: fantasy;
  font-size: 80px;
  margin-bottom: 10%;
}

* {
  font-family: fantasy;
}

body, html{
  background-color: lightgrey;
  height: 100%;
  text-align: center;
}

body {
  background-image: url(../pictures/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.cancel{
  background-color: white;
  border-radius: 4px;
  color: black;
  font-size: 30px;
  padding-left: 4px;
  padding-right: 6px;
  padding-top: .5px;
  padding-bottom: 1px;
  text-decoration: none;
  margin-left: 15px;
}

.waffle{
  display: block;
  padding: 5px;
  font-size: 40px;
  margin: 10px 0 0 0;
}

.pancake{
  padding: 5px;
  font-size: 20px;
  margin: 10px 0 0 0;
}

.submit{
  text-decoration: none;
  font-size: 28px;
  display: inline-block;
  border-radius: 4px;
  margin-top: 15px;
}

.register{
  display: block;
  font-size: 40px;
  margin-top: 10px;
}

.role{
  font-size: 35px;
}

.table{
  display: inline-block;
  text-align: center;
}

td{
  text-align: center;
  font-size: 15px;
  padding: 7px;
}

ul {
  background-color: pink;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -15px;
  padding: inherit;
  text-align: center;
}

.hover:hover {
  background-color: grey;
  border-radius: 15px;
  padding: 8px;
}

li {
  display: inline-block;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 125px;
  margin-right: 125px;
}

a {
  color: black;
  text-decoration: none;
}
